main {
  padding: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

section {
  margin-bottom: 2rem;
  border-radius: 60px;
}

.border-container {
  background-color: #253759;
  height: 170px;
  margin-right: 32px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: start;
  position: fixed;
  top: 530px;
  opacity: 0.85;
}
.border-container p {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  box-shadow: 18px 18px 18px 18px rgba(1, 1, 22, 0.1);
  padding: 5px;
}

.detective-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: -70px;
  box-shadow: 28px 28px 28px 28px rgba(1, 1, 22, 0.1);
}

.mission-button-container {
  display: flex;
  position: fixed;
  top: 605px;
  right: 40%;
}

.login-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ffc121;
  color: #253759;
  border: none;
  border-radius: 5px;
  width: 250px;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.1); /* Elevation */
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 3px 0 #000000;
  margin-top: 20px;
}

.login-button:active {
  box-shadow: none;
  transform: translateY(3px);
}

@media (max-width: 917px) {
  .border-container {
    /* margin-left: -170px; */
    margin: 0 auto;
    top: -50px;
    height: 300px;
    justify-content: center;
    position: relative;
    width: 90%;
    /* bottom: ; */
  }

  .mission-button-container {
    width: 250px;
    top: -150px;
    left: 20%;
    justify-content: center;
    position: relative;
  }

  .border-container p {
    font-size: 16px;
    margin-top: 0;
  }

  .image-container {
    width: 90%;
    display: flex;
    position: fixed;
    top: 490px;
    /* margin-top: 10px; */
    right: -10px;
  }

  .detective-image {
    width: 100%;
    margin-left: -30px;
  }

  main {
    padding: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .App {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* 
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
}
