.form-container {
  text-align: center;
  padding: 25px;
  background-color: #c0d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
  /* height: 700px; */
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-container {
  margin: 20px;
  width: 90%;
  max-width: 600px;
  max-height: 650px;
  background-color: #253759;
  border-radius: 10px;
  padding: 20px;
}

.input-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.submit-play {
  padding: 10px;
  margin-top: 0px;
  background-color: #253759;
  color: #ffc121;
  border-color: white;

  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 140px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submit-play:hover {
  background-color: #ffc121;
  color: #253759;
  width: 160px;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
}

.register-link {
  color: #253759;
  width: 80px;
  transition: width 0.3s ease;
}

.register-link:hover {
  font-size: 16px;
  color: #ffc121;
}

.label-header {
  color: white;
}

.google-sign-in {
  /* margin-top: 50px; */
  cursor: pointer;
}

.google-sign-in img {
  width: 220px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.google-sign-in:hover img {
  width: 195px;
}

@media (max-width: 917px) {
  .form-container {
    max-width: 90%; /* Reduce max-width for smaller screens */
  }

  .input-container input {
    font-size: 16px;
  }

  .submit-play {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
  }

  .google-sign-in {
    width: 70%;
    margin-top: 0;
  }

  .register-link {
    font-size: 14px;
  }

  .label-header {
    /* border: 4px solid red; */
    padding: 0;
  }
}
